extends layouts/layout
block title
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui" />  
  title TION
block content
  .grid
    .grid__wrapper
      <svg class="svg__enter" width="508" height="334" viewBox="0 0 508 334" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g id="EnterImg">
          <g id="lower-strips">
          <path id="lower-green1" d="M96.2826 154.746L254.3 242.624V294.416L129.24 226.251L129.198 226.228V226.276V248.525L96.2826 230.22V154.746Z" fill="#BED747" stroke="#342F2E" stroke-width="0.0564446"/>
          <path id="lower-black1" d="M254.3 318.098L129.254 248.557V226.324L254.3 294.48V318.098Z" fill="#342F2E" stroke="#342F2E" stroke-width="0.0564446"/>
          <path id="lower-black2" d="M254.3 325.195L129.255 257.039V248.621L254.3 318.163V325.195Z" fill="#342F2E" stroke="#342F2E" stroke-width="0.0564446"/>
          </g>
          <g id="aside">
          <path id="aside-gray1" d="M253.901 84.8872L503.972 238.864V276.82L253.901 122.842V84.8872Z" fill="#F4F2F1" stroke="#342F2E" stroke-width="0.0564446"/>
          </g>
          <g id="upper-strips">
          <path id="upper-green1" d="M379.055 119.826V119.809L379.04 119.801L254.357 51.8432V0.0479881L411.971 87.7011V163.175L379.055 144.87V119.826Z" fill="#BED747" stroke="#342F2E" stroke-width="0.0564446"/>
          <path id="upper-black1" d="M378.998 150.559L254.357 82.6229V75.5865L378.998 144.903V150.559Z" fill="#342F2E" stroke="#342F2E" stroke-width="0.0564446"/>
          <path id="upper-black2" d="M378.998 144.838L254.357 75.5218V51.9073L378.998 119.843V144.838Z" fill="#342F2E" stroke="#342F2E" stroke-width="0.0564446"/>
          </g>
          <g id="central">
            <path id="center-hexa" d="M253.924 84.7644L355.965 140.623V252.337L253.924 308.196L151.884 252.337V140.623L253.924 84.7644Z" fill="#F4F2F1" stroke="#342F2E" stroke-width="0.0564446"/>
            <g id="enter-label">
              <g id="text-group">
              <path id="E-txt" d="M221.528 203.609H229.267V204.866H219.503V191.5H229.163V192.758H221.528H221.028V193.258V196.993V197.493H221.528H228.24V198.75H221.528H221.028V199.25V203.109V203.609H221.528Z" fill="#3F4847" stroke="#342F2E"/>
              <path id="N-txt" d="M243.309 200.933V191.5H244.796V204.866H243.424L235.642 194.839L234.747 193.686V195.146V204.866H233.26V191.5H234.859L242.414 201.24L243.309 202.394V200.933Z" fill="#3F4847" stroke="#342F2E"/>
              <path id="T-txt" d="M252.523 192.84H248.463V191.5H259.131V192.84H255.071H254.571V193.34V204.866H253.023V193.34H252.523V192.84Z" fill="#3F4847" stroke="#342F2E"/>
              <path id="E-txt_2" d="M264.829 203.609H272.568V204.866H262.804V191.5H272.464V192.758H264.829H264.329V193.258V196.993V197.493H264.829H271.541V198.75H264.829H264.329V199.25V203.109V203.609H264.829Z" fill="#3F4847" stroke="#342F2E"/>
              <path id="R-txt" d="M283.975 200.22L287.294 204.866H285.545L282.161 200.07L282.011 199.858H281.752H278.589H278.089V200.358V204.866H276.561V191.5H282.473C284.183 191.5 285.462 192.003 286.268 192.79C286.929 193.468 287.314 194.405 287.314 195.537V195.578C287.314 196.651 286.994 197.478 286.471 198.101C285.943 198.729 285.18 199.182 284.245 199.448L283.562 199.643L283.975 200.22ZM278.589 192.799H278.089V193.299V198.123V198.623H278.589H282.286C283.273 198.623 284.134 198.366 284.759 197.856C285.395 197.339 285.744 196.593 285.744 195.72V195.679C285.744 194.777 285.413 194.028 284.766 193.518C284.136 193.022 283.267 192.799 282.267 192.799H278.589Z" fill="#3F4847" stroke="#342F2E"/>
              </g>
              <g id="dot-group">
              <path id="dot3" d="M264.789 210.422H266.523V212.235H264.789V210.422Z" fill="#3F4847" stroke="#342F2E"/>
              <path id="dot2" d="M253.102 210.422H254.836V212.235H253.102V210.422Z" fill="#3F4847" stroke="#342F2E"/>
              <path id="dot1" d="M241.416 210.422H243.15V212.235H241.416V210.422Z" fill="#3F4847" stroke="#342F2E"/>
              </g>
            </g>
            <g id="outer-hexa">
            <path id="outer-hexa2" d="M361.897 255.586V137.374L253.925 78.2685L145.952 137.374V255.586L253.925 314.692L361.897 255.586Z" stroke="#342F2E" stroke-width="0.564446" stroke-miterlimit="10"/>
            <path id="outer-hexa1" d="M253.938 85.3683L253.924 85.3609L253.911 85.3683L152.445 140.912L152.431 140.92V140.937V252.024V252.041L152.445 252.049L253.911 307.592L253.924 307.6L253.938 307.592L355.403 252.049L355.418 252.041V252.024V140.937V140.92L355.403 140.912L253.938 85.3683ZM145.98 137.391L253.924 78.3007L361.869 137.391V255.569L253.924 314.66L145.98 255.569V137.391Z" fill="#BED747" stroke="#342F2E" stroke-width="0.0564446"/>
            </g>
            <g id="inner-hexa">
            <path id="inner-hexa2" d="M335.597 241.189V151.771L253.925 107.062L172.252 151.771V241.189L253.925 285.898L335.597 241.189Z" stroke="#342F2E" stroke-width="1.07245" stroke-miterlimit="10"/>
            <path id="inner-hexa1" d="M253.938 116.62L253.924 116.613L253.911 116.62L180.99 156.538L180.976 156.546V156.562V236.398V236.415L180.99 236.423L253.911 276.34L253.924 276.347L253.938 276.34L326.858 236.423L326.873 236.415V236.398V156.562V156.545L326.858 156.537L253.938 116.62ZM179.173 155.561L253.924 114.641L328.676 155.561V237.399L253.924 278.319L179.173 237.399V155.561Z" fill="#BED747" stroke="#342F2E" stroke-width="0.0564446"/>
            <path id="inner-hexa3" d="M342.183 244.794V148.166L253.924 99.8519L165.665 148.166V244.794L253.924 293.108L342.183 244.794Z" stroke="#342F2E" stroke-width="0.169334" stroke-miterlimit="10"/>
            <path id="inner-hexa4" d="M351.967 250.15V142.81L253.924 89.1395L155.881 142.81V250.15L253.924 303.821L351.967 250.15Z" stroke="#342F2E" stroke-width="0.282223" stroke-miterlimit="10"/>
            </g>
          </g>
        </g>
        <defs>
          <filter id="filter0_d" x="0" y="0" width="508" height="333.242" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
            <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
            <feOffset dy="4"/>
            <feGaussianBlur stdDeviation="2"/>
            <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
            <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
            <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
          </filter>
        </defs>
      </svg>
      .grid__panel.grid__panel--left
      .grid__panel.grid__panel--right
      .grid__underneath
        a(href="#home" role="button")
          img(src=require('../images/svg/Tion-Logo-WG.svg') id="logo__tion")
        a(href="#chat" role="button")
          img(src=require('../images/svg/chat.svg') id="btn__chat")
        section.page#home
          .page__header.page__header--no-min

          .page__middle
            img(src=require('../images/svg/LinesBG.svg') class="linesBG")
          .page__footer
            .footer__button
              a(href="#services")
                img(src=require('../images/svg/Services.svg'))
              a(href="#about")
                img(src=require('../images/svg/About.svg'))
              a(href="#portfolio")
                img(src=require('../images/svg/Portfolio.svg'))
            .footer__icon
              a(href="#instagram")
                img(src=require('../images/svg/Instagram.svg'))
              a(href="#facebook")
                img(src=require('../images/svg/Facebook.svg'))
              a(href="#twitter")
                img(src=require('../images/svg/Twitter.svg'))
              a(href="#contact")
                img(src=require('../images/svg/Contact.svg'))

        section.page#services
          .page__header
            img(src=require('../images/svg/Servicesbig.svg') class="btn__services")
          .page__middle
            canvas#tp__canvas
          .page__footer
            .footer__button
              a(href="#services")
                img(src=require('../images/svg/Services.svg'))
              a(href="#about")
                img(src=require('../images/svg/About.svg'))
              a(href="#portfolio")
                img(src=require('../images/svg/Portfolio.svg'))
            .footer__icon
              a(href="#instagram")
                img(src=require('../images/svg/Instagram.svg'))
              a(href="#Enter")
                img(src=require('../images/svg/Facebook.svg'))
              a(href="#twitter")
                img(src=require('../images/svg/Twitter.svg'))
              a(href="#contact")
                img(src=require('../images/svg/Contact.svg'))
        section.page#about
          .page__header
            img(src=require('../images/svg/Aboutbig.svg') class="btn__services")
          .page__middle
          .page__footer
            .footer__button
              a(href="#services")
                img(src=require('../images/svg/Services.svg'))
              a(href="#about")
                img(src=require('../images/svg/About.svg'))
              a(href="#portfolio")
                img(src=require('../images/svg/Portfolio.svg'))
            .footer__icon
              a(href="#instagram")
                img(src=require('../images/svg/Instagram.svg'))
              a(href="#Enter")
                img(src=require('../images/svg/Facebook.svg'))
              a(href="#twitter")
                img(src=require('../images/svg/Twitter.svg'))
              a(href="#contact")
                img(src=require('../images/svg/Contact.svg'))
        section.page#portfolio
          .page__header
            img(src=require('../images/svg/Portfoliobig.svg') class="btn__services")
          .page__middle
            
          .page__footer
            .footer__button
              a(href="#services")
                img(src=require('../images/svg/Services.svg'))
              a(href="#about")
                img(src=require('../images/svg/About.svg'))
              a(href="#portfolio")
                img(src=require('../images/svg/Portfolio.svg'))
            .footer__icon
              a(href="#instagram")
                img(src=require('../images/svg/Instagram.svg'))
              a(href="#Enter")
                img(src=require('../images/svg/Facebook.svg'))
              a(href="#twitter")
                img(src=require('../images/svg/Twitter.svg'))
              a(href="#contact")
                img(src=require('../images/svg/Contact.svg'))
