extends layouts/layout
block title
  meta( charset="UTF-8")
  title TION
block content
  .grid
    <svg class="grid__enter" width="500" height="326" viewBox="0 0 500 326" fill="none" xmlns="http://www.w3.org/2000/svg">
      a(class="btn btn-primary" href="#testLink" role="button")
        <g id="Enter">
          <g id="lower-strips">
            <path id="lower-green1" d="M92.2543 230.903L125.226 249.24V226.943L250.328 295.13V243.274L92.2543 155.364V230.903Z" fill="#BED747"/>
            <path id="lower-black1" d="M250.328 295.13L125.226 226.943V249.24L250.328 318.813V295.13Z" fill="#342F2E"/>
            <path id="lower-black2" d="M125.226 249.24V257.722L250.328 325.909V318.813L125.226 249.24Z" fill="#342F2E"/>
          </g>
          <g id="central">
            <path id="central-gray1" d="M249.872 123.524L500 277.537V239.515L249.872 85.5034V123.524Z" fill="#F4F2F1"/>
            <path id="center-hexa" d="M351.993 253.021V141.273L249.924 85.3989L147.855 141.273V253.021L249.924 308.895L351.993 253.021Z" fill="#F4F2F1"/>
          </g>
          <g id="upper-strips">
            <path id="upper-green1" d="M375.026 120.493V145.553L407.999 163.89V88.3513L250.329 0.666687V52.5267L375.026 120.493Z" fill="#BED747"/>
            <path id="upper-black1" d="M375.026 145.553L250.329 76.2051V83.3063L375.026 151.273V145.553Z" fill="#342F2E"/>
            <path id="upper-black2" d="M250.328 52.5265V76.2051L375.026 145.553V120.493L250.328 52.5265Z" fill="#342F2E"/>
          </g>
          <g id="outer-hexa">
            <path id="outer-hexa2" d="M357.897 256.253V138.041L249.925 78.9352L141.952 138.041V256.253L249.925 315.359L357.897 256.253Z" stroke="#BED747" stroke-width="0.564446" stroke-miterlimit="10"/>
            <path id="outer-hexa1" d="M249.924 86.0598L351.39 141.604V252.691L249.924 308.234L148.459 252.691V141.604L249.924 86.0598ZM249.924 78.9352L141.951 138.041V256.253L249.924 315.359L357.897 256.253V138.041L249.924 78.9352Z" fill="#BED747"/>
          </g>
          <g id="inner-hexa">
            <path id="inner-hexa2" d="M331.597 241.856V152.438L249.924 107.729L168.252 152.438V241.856L249.924 286.565L331.597 241.856Z" stroke="#342F2E" stroke-width="1.07245" stroke-miterlimit="10"/>
            <path id="inner-hexa1" d="M249.924 117.311L322.845 157.229V237.065L249.924 276.982L177.004 237.065V157.229L249.924 117.311ZM249.924 115.276L175.145 156.211V238.083L249.924 279.018L324.704 238.083V156.211L249.924 115.276Z" fill="#BED747"/>
            <path id="inner-hexa3" d="M338.183 245.461V148.833L249.924 100.519L161.665 148.833V245.461L249.924 293.775L338.183 245.461Z" stroke="#BED747" stroke-width="0.169334" stroke-miterlimit="10"/>
            <path id="inner-hexa4" d="M347.967 250.817V143.477L249.924 89.8063L151.881 143.477V250.817L249.924 304.487L347.967 250.817Z" stroke="#342F2E" stroke-width="0.282223" stroke-miterlimit="10"/>
          </g>
        </g>
    </svg>
    img(src=require('../images/svg/Tion-Logo-WG.svg') id="tion")
    img(src=require('../images/svg/chat.svg') id="chat")
    .grid__wrapper
      input(type='checkbox')
      
      .grid__panel.grid__panel--left
      .grid__panel.grid__panel--right
      .grid__underneath
        section.page
          .page__header
            
          .page__middle
            img(src=require('../images/svg/LinesBG.svg') class="linesBG")
          .page__footer
            .page__footer--icon
              img(src=require('../images/svg/Instagram.svg') class="ig-icon")
              img(src=require('../images/svg/Facebook.svg') class="fb-icon")
              img(src=require('../images/svg/Twitter.svg') class="twitter-icon")
